<div>
 <div style="background-color: whitesmoke; max-width: 500px; margin: auto; margin-top: 50px;" >
<nav>
  <ul>
    <li class="menu"><a class="linkMenu" routerLink="/">Quem sou eu</a></li>
    <li class="menu"><a class="linkMenu" routerLink="o-que-faco">O que faço</a></li>
    <li class="menu"><a class="linkMenu" routerLink="hobbie">Hobbies</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
<ul>
  <li class="rs"><a target="empty" class="linkRs" href="https://www.facebook.com/profile.php?id=100072117952036"><img style="width: 30px" src="assets/img/face.png"></a></li>
  <li class="rs"><a target="empty" class="linkRs" href="https://www.instagram.com/casaljonas1/"><img style="width: 30px" src="assets/img/insta.png"></a></li>
  <li class="rs"><a target="empty" class="linkRs" href="https://www.tiktok.com/@familia_jonas"><img style="width: 30px" src="assets/img/tik.png"></a></li>
</ul>
</div>
</div>
