<div class="conteudo">
<b>Habilidades Profissionais</b>
<ul>
<li>Bons conhecimentos em base de dados e redes de computadores (instalação,
endereçamentos, configuração, gestão e Segurança).</li>
<li>Bons conhecimentos em Linguagens e Lógica de programação e trabalho
com controlo de versão nos repositórios online.</li>
<li>Bons conhecimentos em Engenharia, Projecto e Desenvolvimento de
Softwares.</li>
<li>Conhecimentos básicos em eletrónica analógica e digital, matemática,
desenvolvimento móvel, Organização e Gestão de Empresa.</li>
<li>Participei em maratonas de programação no “Internacional Collegiate
Programming Contest”.</li>
<li>Participei na Feira de Invenção, ideias e novos produtos em Nuremberg
(Alemanha) em 2019, 2020 e 2021.</li>
</ul>
</div>
