/* You can add global styles to this file, and also import other style files */
.conteudo{
 max-width:500px;
  text-align: justify;
  border: 1px solid red;
  padding: 15px;
}

*{
  font-family: 'Courier New', Courier, monospace;
}
.menu{
  display: inline;
  padding: 10px;

}
a{
  text-decoration: none;
  background-color: rgb(1, 44, 87);
  padding: 10px;
  color:white;
  font-weight: bold;
}

a:hover{
  background-color: cadetblue;
}
.img{
  width: 120px;
  border-radius: 10px;
}
