/* You can add global styles to this file, and also import other style files */
.conteudo{
 max-width:550px;
  text-align: justify;
  border: 1px dotted rgb(81, 6, 167);
  padding: 15px;
  height: 400px;
}
.active-link{
  background-color: red;
}
*{
  font-family: 'Courier New', Courier, monospace;
}
.menu{
  display: inline;
  padding: 7px;


}

.rs{
  display: inline;
  padding: 10px;

}

.linkMenu{
  text-decoration: none;
  background-color: rgb(1, 44, 87);
  padding: 10px;
  color:white;
  font-weight: bold;
}

.linkMenu:hover{
  background-color: cadetblue;
}
.img{
  width: 120px;
  border-radius: 10px;
}
