<div class="conteudo">

<p>
  <img class="img" src="assets/img/pj.jpg">
  Paulino Jonas, Licenciado em Ciências da Computação pela Universidade
  Agostinho Neto. Após ter finalizado o plano curricular do meu curso, realizei
  um estágio como professor monitor na Faculdade de Ciências no Curso de
  Ciências da Computação no 2º ano, 3º ano e 4º ano, o que me possibilitou
  aplicar na prática os meus conhecimentos e tomar contacto com o ambiente
  profissional. Após ter licenciado com média 14 valores e 19 valores como nota
  final da defesa com tema Sistema de Correcção Automática, trabalhei como
  professor assistente estagiário na Faculdade de Ciências da Universidade
  Agostinho Neto.</p>

  <p>Ao longo da minha experiência profissional desenvolvi outras
  competências que considero serem de grande importância para o desempenho da
  função, como capacidade de trabalhar sob pressão e vontade de contribuir para
  um relacionamento interpessoal no ambiente de trabalho. Sou um jovem
  empenhado, que se esforça diariamente em prol dos objetivos da minha entidade
  profissional e da Empresa. Esforço-me diariamente para realizar com sucesso
  todos os objetivos que me foram propostos. Além de conhecimentos sólidos em
  Ciências da Computação, possuo também uma grande experiência ao nível da
  coordenação de equipas.
</p>
</div>
